* {
	font-family: 'Playfair Display', serif;
}

body, html {
	background-image: url(gplaypattern.png);
}

h1 .char1 {
	margin-top: 30px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 16px sans-serif;
  text-anchor: start;
  margin-left: 3%;
}

